<div data-turbo="false">
  <%= form_with(model: tweet) do |form| %>
    <% if tweet.errors.any? %>
      <div style="color: red">
        <ul>
          <% tweet.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  
    <div class="form-tweet">
      <div>
        <%= form.text_area :body, placeholder: "Remember to thing before write...", class: "input input--home" %>
      </div>

      <div>
        <%= form.submit button, class: "normal-button button--home" %>
      </div>
    </div>
  <% end %>
</div>
