<div class="section-login">
  <h1 class="login-title">Home</h1>

  <% if user_signed_in?  %>
    <%= render "form", tweet: @tweet, button: "Tweet", main_tweet: nil %>
  <% end %>

  <div id="tweets" class="tweets">
    <% @tweets.where(replied_to_id: nil).sort.reverse.each do |tweet| %>
      <%= render tweet %>
    <% end %>
  </div>
</div>
