<div class="section-login">
<h1 class="login-title">Tweet detail</h1>  
<%= link_to "Back", tweets_path, class: "link-session" %>

<div id="tweets" class="tweets">
  <%= render @tweet %>

  <% if user_signed_in?  %>
    <%= render "form", tweet: @new_tweet, button: "Tweet", main_tweet: @tweet %>
  <% end %>
  
  <% @tweet.replies.sort.reverse.each do |tweet| %>
    <%= render tweet %>
  <% end %>
  </div>
</div>
