:root {
    --primary-100: #FEEBF1;
    --primary-200: #FABBD0;
    --primary-300: #F490B1;
    --primary-400: #E76A94;
    --primary-500: #D44A78;
    --primary-600: #b23861;
  
    --secondary-100: #A8A8A8;
    --secondary-200: #8F8F8F;
    --secondary-300: #757575;
    --secondary-400: #5C5C5C;
    --secondary-500: #424242;
    --secondary-600: #292929;
  
    --error-100: #EA6C83;
    --error-200: #E54865;
    --error-300: #E02447;
    --error-400: #C51C3B;
    --error-500: #A11730;
    
    --gray-100: #F2F2F2;
    --gray-200: #D3D3D3;
    --gray-300: #7A7A7A;
    --gray-400: #303036;
    --gray-500: #17171C;
  }