@import url("layouts/typography.css");
@import url("layouts/colors.css");
@import url("pages/header.css");
@import url("pages/sessions.css");
@import url("pages/home.css");
@import url("pages/footer.css");
@import url("pages/profile.css");

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--gray-100);
}