<div class="footer">
    <div class="footer__header">
        <p>© 2022 - Codeable Tweetable</p>
        <p>Build with ♥ by</p>
    </div>
    <nav>
        <ul>
            <li><%= image_tag("icons/in.png") %> Enmanuel Chipana</li>
            <li><%= image_tag("icons/in.png") %> Manuel Aguilar</li>
        </ul>
    </nav>
</div>